
<style>    
    #map {
        width: 100%; border: 0px lightgrey solid;      
		height: 810px;
        margin: 0px;
    }    
    #graph {
        width: 100%; 
        padding-top: 11px;
        margin-top: 10px;        
        background: white;
    }
    .ui-select-choices .item {
        height: auto !important
    }
</style> 
  

<!--filter-->
<div class="container container-fluid" id="filter"
     style="margin-top: 10px;
            margin-left: 5px;
            margin-right: 5px;">
    <!--device--> 
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10" >
            <div class="form-group">
                <select ng-model="device.imei" class="form-control" ng-change="changeDevice()">
                    <option ng-repeat="d in devices" value="{{d.imei}}" ng-selected="d.defaultdevice===1">{{d.name}} [{{d.imei}}]</option>
                </select>
                <!--https://github.com/angular-ui/ui-select/wiki/ui-select-->
<!--                <ui-select ng-model="device.imei">
                    <ui-select-match placeholder="Device...">
                        <span ng-bind-html="$select.device.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="d in (devices | filter: $select.search) track by d.name">
                        <span ng-bind-html="d.name | highlight: $select.search"></span>                                                 
                    </ui-select-choices>
                </ui-select>                -->
            </div>
        </div>
    </div>
    
    <!--route-->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="form-group">
                <!--https://github.com/angular-ui/ui-select/wiki/ui-select-->
                <ui-select ng-model="selected.id" >
                    <ui-select-match placeholder="Select your route...">
                        <span ng-bind-html="$select.selected.routename"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (routes | filter: $select.search) track by item.id" group-by="'yearmonth'">
                        <span ng-bind-html="item.routename | highlight: $select.search"></span> 
                        <span style="color: #7aa9f4;">
                            <small ng-bind-html="item.datefromdf | highlight: $select.search"></small>
                            - <small ng-bind-html="item.datetodf | highlight: $select.search"></small>
                            (<small ng-bind="item.distance | highlight: $select.search"></small>m)
                        </span>
                        
                    </ui-select-choices>
                </ui-select>
                
            </div>
        </div>
    </div>
        
    <div class="row">
                
        <div class="col-md-1 col-sm-1 col-xs-1"  style="margin-right: 20px;">  
            <div>
                <button class="btn btn-success btn-sm" 
                        ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" ng-model="auto_fit_bounds" id="auto_fit_bounds"/>                
                <label class="form-check-label" for="auto_fit_bounds">AZ</label>
            </div>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-8">            
            <!--<div class="row">-->
                <div class="form-group form-group-sm">
                    <div class='input-group' id='datetimepickerfrom'>
                        <input type='text' style="font-weight: bold" 
                               class="form-control" 
                               readonly 
                               placeholder="Time from..."
                               value=""/>
                        <span class="input-group-addon">
                            <span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>                        
                        </span>
                    </div>
                </div>
            <!--</div>-->
            <!--<div class="row">-->
                <div class="form-group form-group-sm">
                    <div class='input-group' id='datetimepickerto'>
                        <input type='text' style="font-weight: bold" 
                               class="form-control" 
                               readonly 
                               placeholder="Time to..."
                               value=""/>
                        <span class="input-group-addon">
                            <span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>

                        </span>
                    </div>
                </div>                
            <!--</div>-->        
        </div>
                  
    </div>
    
</div>
    
<!--tab container-->
<div style="margin-left: 0px;  margin-right: 0px; ">
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#1" data-toggle="tab">Map</a></li>
        <li><a data-target="#2" data-toggle="tab">Chart</a></li>
        <li><a data-target="#3" data-toggle="tab">Route info</a></li>
        <li><a data-target="#4" data-toggle="tab">Data</a></li>
    </ul>

    <div class="tab-content ">
        
        <!-- Map -->
        <div class="tab-pane active" id="1">                        
            <div id="map"></div>                  
        </div>
        
        <!-- Chart -->
        <div class="tab-pane" id="2">
            <div ng-show="locations.length===0"
                class="alert alert-info"
                style="margin: 5px;" >
                   No data
           </div>
            
           <div ng-show="locations.length>0">
                
                 
                 <svg  id="graph" xmlns="http://www.w3.org/2000/svg">  
    

                      <rect ng-repeat="l in locations"
                            x="{{ (l.deviceTimeScaled - (altitudeBarWidth/2)) }}" y="{{ (svgHeigth - l.avgAltitudeScaled) }}" width="{{ altitudeBarWidth }}" height="{{ (1*l.avgAltitudeScaled) }}"               
                            style="fill: #77d6b3; opacity:0.95; stroke-width: 0.4;">
                          <title>Time: {{ l.devicetime }}, Altitude:{{ l.altitude }} m</title>
                      </rect>

                      <line ng-repeat="l in locations | limitTo: locations.length-1" 
                            x1="{{ l.deviceTimeScaled }}" y1="{{ (svgHeigth - l.avgSpeedScaled) }}" 
                            x2="{{ locations[$index+1].deviceTimeScaled }}" y2="{{ (svgHeigth - locations[$index+1].avgSpeedScaled) }}" 
                            style="stroke: orange; stroke-width: 2px; opacity:1">
                          <title>speed:{{ l.avg_speed }}</title>
                      </line>

                     <line ng-repeat="l in locations | limitTo: locations.length-1" 
                            x1="{{ l.deviceTimeScaled }}" y1="{{ (svgHeigth - l.maxSpeedScaled) }}" 
                            x2="{{ locations[$index+1].deviceTimeScaled }}" y2="{{ (svgHeigth - locations[$index+1].maxSpeedScaled) }}" 
                            style="stroke: #ff7f7f; stroke-width: {{ speedLineWidth }}; opacity:1">
                          <title>speed:{{ l.max_speed }}</title>
                      </line>


                     <!--#ff5b5b<g stroke="black" stroke-width="3" fill="black">
                         <circle ng-repeat="l in locations" cx="{{ (l.deviceTimeScaled) }}" cy="{{ (svgHeigth - l.speedScaled) }}" r="3" />
                     </g>-->

                     <rect x="0" y="{{ svgHeigth }}" width="100%" height="1"
                           style="fill: black; opacity:1"/>

                     <!-- axis -->
                     <!--altitude-->
                     <line ng-repeat="altitude in y_altitude"
                        x1="1" y1="{{ (svgHeigth - altitude.y) }}"
                        x2="{{ (svgWidth-2) }}" y2="{{ (svgHeigth - altitude.y) }}"
                        style="stroke: blue; stroke-width:1; opacity:0.5;">                                
                     </line>
                     <!--speed-->
                     <line ng-repeat="speed in y_speed"
                         x1="1" y1="{{(svgHeigth - speed.y)}}"
                         x2="{{ (svgWidth-2) }}" y2="{{(svgHeigth - speed.y)}}"
                         style="stroke: red; stroke-width:1; opacity:0.5;">                
                     </line>

                      <!--axis texts-->
                     <text ng-repeat="altitude in y_altitude"
                           x="{{ (svgWidth*0.92) }}" y="{{(svgHeigth - altitude.y + 11)}}" 
                           style="fill: blue; opacity:1; font-size:smaller; font-weight: bold;">{{altitude.v}}</text>

                     <text ng-repeat="speed in y_speed"
                           x="{{ svgWidth*0.03 }}" y="{{(svgHeigth - speed.y + 11)}}" 
                           style="fill: #ff5b5b; opacity:1; font-size:smaller; font-weight: bold;">{{speed.v}}</text>

                     <!--time sections-->      
                     <line ng-repeat="s in sections" 
                      x1="{{ s }}" y1="{{ 5 }}" 
                      x2="{{ s }}" y2="{{ svgHeigth+10 }}" 
                      style="stroke:rgb(90,90,90); stroke-width:1; opacity:0.65; stroke-dasharray:4,6;">
                     </line>       
                 </svg>

                <!--time span-->
                <div style="margin-left: 5px;">
                    from: <span><b>{{ metadata[0].min_devicetime |  date: 'yyyy MMMM d EEE, HH:mm:ss' }}</b></span>, to: <span><b>{{ metadata[0].max_devicetime |  date: 'yyyy MMMM d EEE, HH:mm:ss' }}</b></span>
                </div>
                                                  
                 <!--max speed and altitude-->
                 <div style="margin-top: 5px; margin-left: 5px;"> 
                     [Max speed: {{metadata[0].max_speed}} km/h, Alt max:{{metadata[0].max_altitude}} m, min:{{metadata[0].min_altitude}} m] speedLineWidth={{speedLineWidth}}
                 </div>
                 {{ y_altitude | json }}
             </div>            
            
        </div>
        
        <!-- Route info -->            
        <div class="tab-pane" id="3">
            <div id="routedata" ng-show="true">
                         <!--data table-->
                 <div style="margin: 5px;">
                     <table class="table table-condensed table-striped table-responsive table-hover">  
                         <tr>
                             <th>Measure</th>
                             <th>Value</th>
                         </tr>
                         <tr>
                             <td>Locations recorded</td>
                             <td><span>{{metadata[0].cnt}}</span></td>
                         </tr>
                         <tr>
                             <td>Min time</td>
                             <td><span>{{ metadata[0].min_devicetime |  date: 'yyyy MMMM d EEE, HH:mm:ss' }}</span></td>
                         </tr>
                         <tr>
                             <td>Max time</td>
                             <td><span>{{ metadata[0].max_devicetime |  date: 'yyyy MMMM d EEE, HH:mm:ss' }}</span></td>
                         </tr>
                         <tr>
                             <td>Timespan</td>
                             <td>
                                 <span>{{ metadata[0].span_devicetimeFormattedV }}</span> <span>{{ metadata[0].span_devicetimeFormattedU }} </span>
                             </td>            
                         </tr>
                         <tr>
                             <td>Duration</td>
                             <td>
                                 <span ng-bind="routeInfo.durationString"></span>
                             </td>
                         </tr>
                         <tr>
                             <td>Pause time</td>
                             <td>
                                 <span ng-bind="routeInfo.pausetimeString"></span>                 
                             </td>
                         </tr>
                         <tr>
                             <td>Avg speed [km/h]</td>
                             <td>
                                 <span>{{ (metadata[0].avgSpeed) | number : 2 }} </span>
                                 <br>
                                 [duration={{routeInfo.duration}}] <span>{{ (routeInfo.duration>0 ? ((routeInfo.distance*1000) / (routeInfo.duration*3600)) : 0) | number : 2 }}</span>
                                 / <span>{{ (routeInfo.duration>0 ? ((routeInfo.distance2*1000) / (routeInfo.duration*3600)) : 0) | number : 2 }}</span>
                             </td>
                         </tr>
                         <tr>
                             <td>Distance</td>
                             <td>
                                 <span>{{ routeInfo.distance | number : 2 }} / {{ routeInfo.distance2 | number : 2 }} </span>
                             </td>
                         </tr>
                         <tr>
                             <td>section_width</td>
                             <td>{{metadata[0].section_width | number : 1}}</td>
                         </tr>            
                         <tr>
                             <td>svg width</td>
                             <td>{{svgWidth}}</td>
                         </tr>            
                         <tr>
                             <td>availSize</td>
                             <td>{{availSize}}</td>
                         </tr>            
                     </table>
                 </div>      
            </div>            
        </div>
        
        <!--JSON-->
        <div class="tab-pane" id="4">
            <!--temp-->
            <div id="details" ng-show="locations.length>0">
                <pre>
                    <small><span ng-bind="locations | limitTo:3 | json"></span></small>
                </pre>
            </div>            
        </div>
    </div>
</div>  

 <br><br><br>




